.blog-layout {
  background-color: #5c5c5c2d;
    grid-template-rows: auto 2fr 1fr auto;
    grid-template-columns: 1fr 1fr .5fr;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main aside"
    "section section aside"
    "footer footer footer"
    ;
    gap: 20px;
    border-radius: 10px;
}

/* Header with nav */
.container-fluid {
    padding: 2px;
    display: flex;
    margin-left: -2%;
    box-shadow: #D33936 0px -23px 25px 0px inset, rgb(45, 4, 2) 0px -36px 30px 0px inset, rgb(23, 8, 3) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    border-radius: 14px;
    margin-bottom: -4.8%;
}

.site-header {
    height: 15vh;
    width: auto;
    object-fit: cover;
    background-image: url(fractal.jpg);
    background-position: 10% 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 20px;
    order-radius: 30px;
    grid-area: header;
     brder: 4px solid rgba(160, 252, 11, 0.776);
     display: flex;
     align-items: flex-end;
}

.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
}

/* hover ??? */

.liquid-morph-element {
  width: auto;
  height: auto;
  background: #D33936;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  overflow: hidde;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.liquid-morph-element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
   #B52B28 0deg, 
    #170803 120deg, 
    #B2110F 240deg
  );
  transition: all 0.6s ease;
  opacity: 0;
  transform: scale(0);
}

.liquid-morph-element:hover {
  border-radius: 10px;
  transform: rotate(15deg);
  color: #fff;
  border-color: #E27B79;
}

.liquid-morph-element:hover::before {
  opacity: 0.5;
  transform: scale(2);
}

.btn {
    border-color: #6e0a07;
    color: rgb(32, 32, 32);
}
/* end header and nav */


.main-content {

    grid-area: main;
     order: 4px solid rgba(11, 252, 164, 0.776);
     padding: 10px;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-area: aside;
  border-radius: 20px;
  order: 4px solid rgba(252, 11, 11, 0.776);
  align-self: start;
}

.author-info {
  
}

.comments {
    grid-area: section;
     order: 4px solid rgba(75, 11, 252, 0.776);
     padding: 10px;
}

/* just in case */
.coment {
    margin-right: 10px;
    border: 4px solid rgba(252, 11, 11, 0.776);
}

.site-footer {
    grid-area: footer;
     order: 4px solid rgba(160, 252, 11, 0.776);
}

  /* image containers */
.gallery-container {
    ackground-color: rgb(78, 45, 210);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 70px;
    width: 1350px;
    border-radius: 10px;
    margin-left: 8%;
    padding: 10px;
}

.comment-container {
    ackground-color: rgb(78, 45, 210);
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    gap: 200px;
    width: 100px;
    border-radius: 5px;
    margin-left: 7%;
    padding: 10px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news {
  border-radius: 20px;
  min-width: 300px;
  min-height: 195px;
  max-height: 200px;
  max-width: 301px;
}

.pics {
  border-radius: 20px;
  min-width: 300px;
  min-height: 195px;
  max-height: 200px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-floating {
  margin-top: 0px;
  margin-bottom: 15px;
}

    /* button for aside */
.btn-primary {
  color: #ffffff;
  background-color: #b2120fa8;
  transform: translateY(1px); 
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #ffffff8a;
  color: #6e0a07;
  transform: translateY(1px); 
}

.tn-primary:focus {
  background-color: #ffffff8a;
  color: #6e0a07;
  transform: translateY(1px); 
}

.btn-primary:active {
  background-color: #E27B79 !important;
  color: #170803;
}

.sidebar {
   position: sticky;
  top: 0px;
  width: 100%;
}

.sticky-sidebar {
  position: sticky;
  top: 0px;
  width: 100%;
}